$color-white: #fff;
$color-nickel-gray: #717171;
$color-light-grey-1: #f0f0f0;
$color-dark-grey-1: #656363;
$color-grey-2: #cd8080;
$color-black: #000;
$color-trnsprnt-black-1: rgba(0, 0, 0, 0.2);
$color-nickel-gray: #717171;
$color-carnelian-red: #af2317;
$color-cyan-blue: #0189b4;

